* {
    font-family: Poppins, 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d5cfbc;
}

.calculator {
    box-sizing: border-box;
    max-width: 300px;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(83, 83, 83);

    display: grid;
    gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "displays displays displays displays"
        "seven eight nine mult"
        "four five six minus"
        "one two three plus"
        "ze negate coma div"
        "AC equals equals equals";
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 60px;
    font-size: 1.1em;
    border-radius: 4px;
    cursor: pointer;
}

.displays {
    grid-area: displays;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 5px 0px 5px;
}

.displays input {
    text-align: right;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: white;
}

.displays input:nth-child(1) {
    color: #9b988f;
    font-size: .8em;
}

.displays input:nth-child(2) {
    font-size: 1.4em;
    font-weight: 700;
}

.digit,
.coma,
.negate {
    background-color: grey;
    color: white;
}

.digit:hover,
.coma:hover,
.negate:hover {
    background-color: rgb(117, 116, 116);
}

.negate {
    grid-area: negate;
    font-size: 12px
}

.operator {
    background-color: #f6a925;
    color: white;
}

.operator:hover {
    background-color: #de8f07;
}

.AC {
    background-color: rgb(248, 101, 101);
    color: white;

    grid-area: AC;
    height: 80px;
}

.AC:hover {
    background-color: rgba(248, 101, 101, 0.749);
}

.equals {
    background-color: #f6a925;
    color: white;

    grid-area: equals;
    height: 80px;
}

.coma {
    grid-area: coma;
}

.equals:hover {
    background-color: #c68006;
}

.digit[data-value="0"] {
    grid-area: ze;
}

.digit[data-value="1"] {
    grid-area: one;
}

.digit[data-value="2"] {
    grid-area: two;
}

.digit[data-value="3"] {
    grid-area: three;
}

.digit[data-value="4"] {
    grid-area: four;
}

.digit[data-value="5"] {
    grid-area: five;
}

.digit[data-value="6"] {
    grid-area: six;
}

.digit[data-value="7"] {
    grid-area: seven;
}

.digit[data-value="8"] {
    grid-area: eight;
}

.digit[data-value="9"] {
    grid-area: nine;
}

.operator[data-value="+"] {
    grid-area: plus;
}

.operator[data-value="-"] {
    grid-area: minus;
}

.operator[data-value="*"] {
    grid-area: mult;
}

.operator[data-value="÷"] {
    grid-area: div;
}